<h1>Editing subscription</h1>

<%= render "form", billing_subscription: @billing_subscription %>

<br>

<div>
  <%= link_to "Show this subscription", @billing_subscription %> |
  <%= link_to "Back to subscriptions", billing_subscriptions_path %>
</div>
