<p style="color: green"><%= notice %></p>

<h1>Prices</h1>

<div id="billing_prices">
  <% @billing_prices.each do |billing_price| %>
    <%= render billing_price %>
    <p>
      <%= link_to "Show this price", billing_price %>
    </p>
  <% end %>
</div>

<%= link_to "New price", new_billing_price_path %>
